<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/profile"
        icon="chevron-back-outline"
        text="Atrás"
      ></ion-back-button>
    </ion-buttons>

    <ion-title class="title-default">Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="edit-profile-page">
  <form #form="ngForm" class="edit-profile-form" (ngSubmit)="onSubmit(form)">
    <!-- FOTO DE PERFIL -->
    <div class="profile-photo-container">
      <div class="profile-photo">
        <img [src]="profilePhoto" alt="Foto de perfil" />
        <ion-button size="small" class="change-button" fill="solid">
          Cambiar foto
        </ion-button>
      </div>
    </div>

    <!-- INFORMACIÓN BÁSICA -->
    <section class="section-card">
      <h3 class="section-title">Información básica</h3>
      <ion-list class="name-list">
        <ion-input
          name="name"
          label="Nombre"
          labelPlacement="floating"
          fill="outline"
          clearInput
          required
          [(ngModel)]="user.name"
        ></ion-input>

        <ion-input
          name="lastname"
          label="Apellidos"
          labelPlacement="floating"
          fill="outline"
          clearInput
          required
          [(ngModel)]="user.lastname"
        ></ion-input>

        <ion-input
          name="username"
          label="Nombre de usuario"
          labelPlacement="floating"
          fill="outline"
          errorText="El nombre de usuario debe tener entre 3 y 15 caracteres, y solo puede contener letras, números y guiones bajos"
          clearInput
          required
          [(ngModel)]="user.username"
          pattern="^[a-zA-Z0-9_]{3,15}$"
        ></ion-input>

        <ion-input
          name="biography"
          label="Biografía corta"
          labelPlacement="floating"
          fill="outline"
          clearInput
          required
          [(ngModel)]="user.biography"
        ></ion-input>
      </ion-list>
    </section>

    <!-- INFORMACIÓN PERSONAL -->
    <section class="section-card">
      <h3 class="section-title">Información personal</h3>
      <ion-list class="items-list">
        <ion-input
          name="email"
          type="email"
          fill="outline"
          label="Correo electrónico"
          labelPlacement="floating"
          helperText="Ingresa un correo válido (.com o .es)"
          errorText="Correo inválido"
          required
          [(ngModel)]="user.email"
          email
          pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.(com|es)$"
        ></ion-input>

        <ion-input
          name="birthdate"
          type="date"
          label="Fecha de nacimiento"
          labelPlacement="floating"
          fill="outline"
          clearInput
          required
          [(ngModel)]="user.birthdate"
        ></ion-input>

        <ion-input
          name="phone"
          type="tel"
          label="Número de teléfono"
          labelPlacement="floating"
          fill="outline"
          clearInput
          errorText="Formato de teléfono inválido"
          [(ngModel)]="user.phone"
          pattern="[0-9]{9}"
        ></ion-input>

        <ion-input
          name="city"
          label="Provincia"
          labelPlacement="floating"
          fill="outline"
          clearInput
          [(ngModel)]="user.city"
        ></ion-input>
      </ion-list>
    </section>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="save-button" expand="block" (click)="onSubmit(form)">
      Guardar cambios
    </ion-button>
  </ion-toolbar>
</ion-footer>
